.loginButton {
    color: #19a89d !important;
    background-color: white !important;
    border: 1px solid #d3f3f1 !important;
}

.loginButton:hover {
    color: white !important;
    background-color: #98d9d5 !important;
    border: 1px solid #d3f3f1 !important;
}
